<ion-app>
  <ion-router-outlet></ion-router-outlet>
  
  <!-- Bottom Menu - Hidden on login and registration pages -->
  <div class="pixel-bottom-menu" *ngIf="!isAuthPage">
    <div class="menu-item" [class.disabled]="!gameStarted" [class.active]="activeMenuItem === 'game'" (click)="navigateToPage('game')">
      <div class="pixel-icon game-icon"></div>
      <div class="menu-label">Game</div>
    </div>
    <div class="menu-item" [class.disabled]="!gameStarted" [class.active]="activeMenuItem === 'inventory'" (click)="navigateToPage('inventory')">
      <div class="pixel-icon inventory-icon"></div>
      <div class="menu-label">Items</div>
    </div>
    <div class="menu-item" [class.disabled]="!gameStarted" [class.active]="activeMenuItem === 'quests'" (click)="navigateToPage('quests')">
      <div class="pixel-icon quests-icon"></div>
      <div class="menu-label">Quests</div>
    </div>
    <div class="menu-item" [class.active]="activeMenuItem === 'profile'" (click)="navigateToPage('profile')">
      <div class="pixel-icon profile-icon"></div>
      <div class="menu-label">Profile</div>
    </div>
  </div>
</ion-app>
